* {
  padding: 0px;
}

ul {
  list-style-type: none;
}

.navbar {
  padding: 0px;
  margin: 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 992px) {
  .container {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.mt-5,
.mt-md-5 {
  margin-top: 27.999px !important;
}

.ml-5 {
  margin-left: 27.999px !important;
}

button {
  cursor: pointer;
}

.navbar-nav .nav-item .nav-link {
  font-size: 16px;
  color: black;
  font-family: "Segoe UI";
}

.navbar {
  margin-top: 29px;
}

.header-logo {
  width: 302px;
  height: 53px;
}

.navbar {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navbar .nav-item:not(:first-child) {
  margin-left: 5px;
}

.navbar .navbar-brand {
  margin: 0px;
  padding: 0px;
}

.border-purple {
  position: relative;
  border-bottom: 1px solid #603cba;
}

.border-purple:after {
  content: '';
  position: absolute;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: 5px solid #603cba;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}

.border-blue {
  border-bottom: 1px solid #007bff;
}

.border-green {
  border-bottom: 1px solid #01a31c;
}

.border-carrot {
  border-bottom: 1px solid #d44a26;
}

.border-orange {
  border-bottom: 1px solid #f0a427;
}

@media screen and (min-width: 768px) {
  .border-purple:after {
    bottom: -15%;
    left: 5%;
  }
}

@media screen and (min-width: 992px) {
  .border-purple:after {
    left: 45%;
  }
}

@media screen and (min-width: 1200px) {
  .border-purple:after {
    bottom: -10%;
  }
  .navbar .nav-item .nav-link {
    text-align: center;
    padding: 14px 22px 8px 24px;
  }
}

@media screen and (max-width: 768px) {
  .header-logo {
    width: 200px;
    height: auto;
  }
  .border-purple:after {
    bottom: -12%;
    left: 5%;
  }
}

.navbar-nav .nav-item:first-child .nav-link:focus,
.navbar-nav .nav-item:first-child .nav-link:hover {
  color: #007bff;
}

.navbar-nav .nav-item:nth-child(2) .nav-link:focus,
.navbar-nav .nav-item:nth-child(2) .nav-link:hover {
  color: #603cba;
}

.navbar-nav .nav-item:nth-child(3) .nav-link:focus,
.navbar-nav .nav-item:nth-child(3) .nav-link:hover {
  color: #01a31c;
}

.navbar-nav .nav-item:nth-child(4) .nav-link:focus,
.navbar-nav .nav-item:nth-child(4) .nav-link:hover {
  color: #d44a26;
}

.navbar-nav .nav-item:nth-child(5) .nav-link:focus,
.navbar-nav .nav-item:nth-child(5) .nav-link:hover {
  color: #f0a427;
}

h1 {
  font-family: "Segoe UI Light";
  font-size: 36px;
  font-weight: 400;
  color: #595756;
  text-align: left;
  line-height: 1.389;
}

.btn-dovnload-price {
  background-color: #0064cd;
  color: #FFF;
  border: none;
  padding: 10px 40px 8px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-family: "Arial";
  font-weight: 400;
}

.btn-dovnload-price span {
  margin-left: 11px;
}

.btn-dovnload-price .svg-description-download {
  width: 20px;
  height: 20px;
}

.btn-dovnload-price:hover, .btn-dovnload-price:focus {
  color: #fff;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(45, 101, 255, 0.466);
          box-shadow: 0px 5px 10px 2px rgba(45, 101, 255, 0.466);
}

.label-form-search {
  position: relative;
  width: 100%;
}

.svg-form-control {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 6px;
  right: 5%;
}

.form-control {
  position: relative;
  border: 1px solid #ccc;
  padding: 18px 75px 18px 5px;
  font-size: 12px;
  font-family: "Arial Regular";
  font-weight: 400;
}

.form-control:hover, .form-control:focus {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.btn-description {
  width: 100%;
  background-color: #603cba;
  border: none;
  color: #FFF;
  text-align: left;
  padding-top: 15px;
  padding-left: 17px;
  padding-bottom: 15px;
}

.btn-description span {
  display: inline-block;
  margin-top: -5px;
  margin-left: 13px;
  vertical-align: top;
  font-size: 18px;
  font-family: 'Segoe UI';
}

.btn-download {
  background-color: #01a31c;
  border: none;
  color: #FFF;
  padding: 10px 31px 15px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  font-size: 18px;
  font-family: "Segoe UI";
}

.btn-download span {
  font-size: 12px;
  display: block;
  font-size: 18px;
  font-family: 'Segoe UI';
}

.btn-download span:first-child {
  font-size: 12px;
  font-family: 'Segoe UI';
}

.btn-example {
  background-color: #2b5797;
  border: none;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  padding: 10px 150px 15px 17px;
}

.btn-example span {
  margin-left: 16px;
  font-size: 12px;
  display: block;
  font-size: 18px;
  font-family: 'Segoe UI';
}

.btn-example span:first-child {
  margin-left: 0px;
  font-size: 12px;
  font-family: 'Segoe UI';
}

.btn-video {
  background-color: #ffc40d;
  width: 100%;
  border: none;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  padding: 15px 12px 22px 20px;
}

.btn-video span {
  margin-top: -5px;
  margin-left: 10px;
  font-size: 12px;
  display: block;
  font-size: 18px;
  font-family: 'Segoe UI';
}

.btn-video span:first-child {
  margin-left: 0px;
  font-size: 12px;
  font-family: 'Segoe UI';
}

.block-img {
  border: 3px solid #f1f1f1;
  padding: 29px 16px 34px 16px;
}

.svg-description {
  width: 38px;
  height: 41px;
}

.svg-video {
  width: 36px;
  height: 36px;
}

.svg-arrow {
  margin-left: 426px;
  margin-top: 17px;
  width: 27px;
  height: 27px;
}

.svg-video-arrow {
  margin-top: 105px;
  width: 27px;
  height: 27px;
}

.svg-example {
  width: 36px;
  height: 38px;
  margin-right: 16px;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 30px;
  }
  .btn-dovnload-price {
    padding: 10px 0px 8px 10px;
  }
  .label-form-search > .form-control {
    padding: 18px 0px 18px 10px;
  }
  .block-img {
    margin-top: 28px;
    padding: 29px 16px 34px 150px;
  }
  .btn-download,
  .btn-example {
    width: 100%;
  }
  .svg-arrow {
    margin-left: 520px;
  }
  .svg-video-arrow {
    margin-left: 98px;
  }
}

@media screen and (max-width: 992px) {
  .block-button-left-hero {
    margin-top: 28px;
  }
  .btn-download,
  .btn-example {
    width: 100%;
  }
  .btn-dovnload-price {
    padding: 10px 60px 8px 60px;
  }
  .label-form-search > .form-control {
    padding: 18px 60px 18px 60px;
  }
  .block-img {
    margin-top: 28px;
    padding: 29px 16px 34px 60px;
  }
  .svg-arrow {
    margin-left: 625px;
  }
  .svg-video-arrow {
    margin-left: 65px;
  }
}

@media screen and (max-width: 768px) {
  .block-left-button {
    padding-right: 0px;
    margin-bottom: 28px;
  }
  .btn-download,
  .btn-example {
    width: 100%;
  }
  .btn-dovnload-price {
    padding: 10px 30px 8px 30px;
  }
  .label-form-search > .form-control {
    padding: 18px 70px 18px 30px;
  }
  .block-img {
    margin-top: 28px;
    padding: 29px 16px 25px 25px;
  }
  .svg-arrow {
    margin-left: 390px;
  }
  .svg-video-arrow {
    margin-top: 15px;
    margin-left: 300px;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 24px;
  }
  .svg-video-arrow,
  .svg-arrow {
    display: none;
  }
  .block-download-hero {
    padding-right: 0px;
  }
  .block-search-hero {
    padding-left: 0px;
  }
  .btn-dovnload-price {
    padding: 10px 0px 8px 5px;
    font-size: 12px;
    margin-bottom: 28px;
  }
  .label-form-search > .form-control {
    padding: 18px 0px 18px 5px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .block-img {
    margin-top: 28px;
    padding: 29px 16px 25px 25px;
  }
}

.product-description h2 {
  margin-top: 20px;
  font-size: 24px;
  font-family: "Segoe UI Light";
  color: #000;
}

.product-description p {
  font-size: 14px;
  font-family: "Segoe UI";
  font-style: "Regular";
  color: #000;
  line-height: 18px;
}

.list-product-description {
  margin-top: 25px;
}

.list-product-description li {
  padding: 1px 1px 1px 0px;
}

.list-product-description li div {
  padding: 10px 20px 12px 15px;
  background-color: #FFF;
}

.list-product-description li div h3 {
  font-size: 24px;
  font-family: "Segoe UI Light";
}

.list-product-description li div p {
  font-size: 14px;
  font-family: "Segoe UI";
  color: #000;
  line-height: 18px;
}

.list-product-description > li:first-child {
  color: #01a31c;
  border-left: 19px solid #01a31c;
  background-color: #cccccc;
}

.list-product-description > li:nth-child(2) {
  border-left: 19px solid #ffc40d;
  color: #f0a427;
  background-color: #cccccc;
}

.list-product-description > li:last-child {
  border-left: 19px solid #2d89ef;
  color: #007bff;
  background-color: #cccccc;
}

@media screen and (max-width: 576px) {
  .list-product-description li div h3 {
    font-size: 20px;
  }
}

.info-message {
  position: relative;
  padding: 10px 0px 12px 16px;
  background-color: #c3325f;
  color: #FFF;
  line-height: 18px;
}

.info-message .paperplane {
  width: 30px;
  height: 30px;
}

.info-message h5 {
  font-size: 18px;
  font-family: "Segoe UI Light";
  margin-left: 7px;
  margin-bottom: 0px;
}

.info-message:before {
  content: '';
  position: absolute;
  left: 32px;
  bottom: -9px;
  margin: 0 auto;
  border-top: 9px solid #c3325f;
  border-left: 0px solid transparent;
  border-right: 9px solid transparent;
}

.block-form {
  background-color: #f1f1f1;
  margin: 0px 0px 0px 0px;
  padding: 18px 0px 17px 0px;
}

.form-control-textarea {
  border: 2px solid #ccc;
  resize: none;
}

.form-group-input:not(:last-child) {
  margin-bottom: 18px;
}

.form-group-input > input {
  outline: 0;
  outline-offset: 0;
  border: 2px solid #ccc;
  padding: 5px 220px 5px 5px;
}

.form-group-input > select {
  height: auto;
  border: 2px solid #ccc;
  border-radius: 0px;
  padding: 2px 0px 3px 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-indent: 1px;
  background: url("../image/btnList.png") no-repeat right 4px center;
  background-color: #ffffff;
}

.form-group-input > select::-ms-expand {
  display: none;
}

.btn-send {
  margin-top: 20px;
  padding: 5px 29px 5px 26px;
  background-color: #c3325f;
  color: #FFF;
  font-size: 12px;
  font-family: "Segoe UI";
  border-radius: 0px;
}

.custom-select {
  display: block;
  padding-left: 9px;
  font-size: 14px;
  font-family: "Segoe UI";
  color: #000;
  font-weight: 500;
}

.form-control {
  border-radius: 0px;
}

.form-control::-webkit-input-placeholder {
  padding-left: 9px;
  font-size: 14px;
  font-family: "Segoe UI";
  color: #000;
  font-weight: 500;
}

.form-control:-ms-input-placeholder {
  padding-left: 9px;
  font-size: 14px;
  font-family: "Segoe UI";
  color: #000;
  font-weight: 500;
}

.form-control::-ms-input-placeholder {
  padding-left: 9px;
  font-size: 14px;
  font-family: "Segoe UI";
  color: #000;
  font-weight: 500;
}

.form-control::placeholder {
  padding-left: 9px;
  font-size: 14px;
  font-family: "Segoe UI";
  color: #000;
  font-weight: 500;
}

.form-control-textarea {
  color: #ccc;
  border: 2px solid #ccc;
  padding: 5px 535px 15px 5px;
  border-radius: 0px;
  font-size: 14px;
  font-family: "Segoe UI";
  font-weight: 500;
}

@media screen and (max-width: 1200px) {
  .block-textarea {
    margin-top: 18px;
  }
  .form-control-textarea {
    padding: 5px 50px 15px 5px;
  }
}

@media screen and (max-width: 576px) {
  .info-message {
    font-size: 15px;
  }
}

@media screen and (max-width: 576px) {
  .info-message h5 {
    font-size: 15px;
    padding-right: 5px;
  }
  .form-group-input > input {
    padding-right: 0px;
  }
}

footer > div {
  background-color: #f1f1f1;
  font-size: 12px;
  font-weight: 500;
  font-family: "Segoe UI";
  padding: 12px 0px 19px 16px;
}
/*# sourceMappingURL=main.css.map */