
  .right-side-of-the-form{
    margin-left: 18px;
    .btn-send{
      width: 114px;
      height: 31px;
      background-color: #c3325f;
      color: #FFF;
      font-size:12px ;
      font-weight: 500;
      font-family: "Segoe UI";
      border-radius: 0px;
    }
  }
  .form-footer{
    background-color: #f1f1f1;
    padding:18px 11px 17px 23px ;
  }

.form-control-textarea{
  border: 2px solid #ccc;
  width:638px;
  height: 129px;
}
.form-group-input:not(:last-child){
  margin-bottom: 18px;
}
.form-group{
  textarea{
    display: block;
  }
  margin-bottom:  18px;
}
.form-control-input{
  border: 2px solid #ccc;
  width: 310px;
  height: 31px;
}
footer>div{
  background-color: #f1f1f1;
  font-size:12px ;
  font-weight: 500;
  font-family: "Segoe UI";
  padding: 20px 0px 19px 16px;
}
.info-message{
  position: relative;
  height: 65px;
  width: 100%;
  padding:16px 0px 13px 16px;
  background-color: #c3325f;
  font-size: 18px;
  font-family: "Segoe UI Light";
  color: #FFF;
line-height: 18px;
  .paperplane{
    width: 30px;
    height: 30px;
  }
  p{
    margin-left: 7px;
  }
}
@media screen and (min-width:1200px){

  .info-message:before {
  content:'';
  position: absolute;
  left:32px;
  bottom: -9px;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: 9px solid #c3325f;
  border-left: 0px solid transparent;
  border-right: 9px solid transparent;
}
}
// placeholder
input::placeholder, textarea::placeholder{
padding-left: 9px;
  font-size: 14px;
  font-family: "Segoe UI";
  color: #000;
  font-weight: 500;
}


@media screen and (max-width:1199px) {
  .form-control-textarea{
    width: 500px;
  }
}
@media screen and (max-width:978px) {
  .form-footer{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  .form-control-textarea{
    margin-top: 28px;
    margin-left: 0px;
    width: 400px;
  }
  .right-side-of-the-form{
    margin-left: 0px;}
}
@media screen and (max-width:576px) {
.form-footer{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.form-control-textarea{
  width: 300px;
}
.right-side-of-the-form{
  margin-left: 0px;
  margin-top: 18px;
}
.info-message{
  font-size: 12px;
  padding: 5px 0px 5px 16px;
}
}