//top panel hero

.link-heading h1{
  font-family: "Segoe UI Light";
    font-size: 36px;
    font-weight: 400;
    color: #595756;
    text-align: left;
    line-height: 1.389;
}
@media screen and (min-width:1200px) {
  .link-heading:nth-child(2){
    margin-left: 79px;
    }
    .link-heading:last-child{
      margin-left: 28px;
    }
}

@media screen and (max-width:978px) {
  .link-heading h1 {
    font-size: 35px;
  }
  .link-heading {
    margin-left:10px;
  }
}
@media screen and(max-width:576px) {
  .link-heading h1 {
    font-size: 25px;
  }
  .link-heading {
    margin-left:0px;
  }
}
.btn-dovnload-price{
  width: 229px;
  height:38px;
  background-color: #0064cd;
  color: #FFF;
  border: none;
  margin-bottom: 0px;
  padding:10px 0px 8px 14px;
  display: flex;
  font-size: 12px;
font-weight: 400;
  p{
    margin-left: 11px;
    border-bottom: 1px solid #FFF;
  }
  .svg-description-download{
    width:20px ;
    height: 20px;
  }
}
.form-control{
  width: 229px;
  height: 38px;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 0px;

}
.list-search{
  align-items: center;
  margin-top:23px ;
  }
// the bottom panel hero
.interface{
  justify-content: space-between;
  margin-top: 20px;
}
.btn-description{
  background-color: $purple-text-color;
  width: 486px;
  height: 114px;
  border: none;
  color: #FFF;
  // padding: 15px 17px 16px 16px;
  text-align: left;
  padding-top: 15px;
  padding-left: 16px;

  span{
    vertical-align: top;

  }

}
.btn-download{
  background-color: $green-text-color;
  width: 300px;
  height: 70px;
  border: none;
  color: #FFF;
  padding: 18px 31px 15px 17px;
  display: flex;
  text-align: left;
  font-size: 18px;
  font-family: "Segoe UI";
  span{
    font-size: 12px;
    display: block;
  }
}
.btn-example{
  background-color:#2b5797;
  width: 300px;
  height: 70px;
  border: none;
  color: #FFF;
  display: flex;
  text-align: left;
  padding: 18px 150px 15px 17px;
  span{
    font-size: 12px;
    display: block;
  }
}
.btn-video{
  background-color:#ffc40d;
  width: 158px;
  height: 168px;
  border: none;
  color: #FFF;
  display: flex;
  text-align: left;
  padding-top: 18px;
  padding-left: 19px;

  p{
margin-left: 12px;
  }
  span{
    font-size: 12px;
    display: block;
  }
}

.block-img{
  width: 100%;
  height: auto;
  border:3px solid #f1f1f1;
  padding-top: 32px;
  margin-left: auto;
  margin-right: auto;
.img-biovoid{
  display: block;
  margin-left: auto;
  margin-right: auto;
width: 100%;
height: auto;
}
}
.panel-get-description{
  margin-top: 28px;
 &>li:last-child{
    margin-left:28px
  }
  & ul li:first-child{
margin-bottom:28px
  }
}
// sprite
.svg-description{
  width:38px ;
  height: 41px;
  margin-right:17px ;
}
.svg-video{
  width:36px ;
  height: 36px;
}
.svg-arrow{
  margin-left: 426px;
  margin-top:17px;
  width: 27px;
  height: 27px;
  }
.svg-video-arrow{
  margin-top: 106px;
  width:26px ;
  height: 26px;
}
.svg-example{
  width:36px ;
  height: 38px;
  margin-right:16px ;
}
.interface-btn{
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width:576px) {
.btn-description, .btn-download, .btn-example, .btn-video{
  width: 350px;
  height:70px ;
  margin-bottom: 28px;

}
.interface{
  margin-left: auto;
  margin-right: auto;
}
.panel-get-description{
  flex-wrap: wrap
}
.panel-get-description>li:last-child {
  margin-left: 0px;
}
.panel-get-description{
  margin-top: 0px;
}
.svg-arrow{
  margin-left: 290px;
    margin-top: -35px;
    width: 27px;
    height: 27px;
}
.svg-video-arrow{
  margin-left: 190px;
  margin-top: 20px;
  width: 26px;
  height: 26px;
}
}
