.product-description {
    h2 {
        margin-top: 20px;
        font-size: 24px;
        font-family: "Segoe UI Light";
        color: #000;
    }
    p {
        font-size: 14px;
        font-family: "Segoe UI";
        font-style: "Regular";
        color: #000;
        line-height: 18px;
    }
}